@page "/staticserverside"

<PageTitle>Static Server</PageTitle>

<h1>StaticServer</h1>

<p>
    @message
</p>

<p>
    <button @onclick="UpdateMessage">Not interactive button!</button>
</p>

@code {
    private string message = "Hello!";

    private void UpdateMessage()
    {
        message = "Updated!";
    }
}
